.container-fluid {
  height: 250px;
  width: 80%;
  margin: 0 auto;
  margin-top: 15%;
  display: flex;
}

.container1 {
  flex: 2;
  background-color: #f7b42c;
  background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);
  height: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  display: flex;
  justify-content: center;
  padding: 10px;
  padding-top: 0px;
  padding-right: 20px;
  /* flex-direction: row-reverse; */
}
.container2 {
  flex: 1;
  background-color: #463657;
  background-image: linear-gradient(315deg, #53475f 0%, #5f6dac 74%);
  display: flex;
  height: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  flex-direction: column;
  padding: 25px;
  justify-content: center;
}

.container2 .slider {
  flex: 2;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
}
.container2 .slider .sliderTitle {
  font-size: 10px;
  color: azure;
  font-family: "Roboto", sans-serif;
}
.container2 .slider .slide {
  padding-top: 15px;
}

.container2 .dropDowns {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: -30px;
}

.container2 .dropDowns .sortingTechnique #dropdown-basic {
  font-size: 10px;
  background-color: cadetblue;
  border: none;
}

.container2 .dropDowns .speedOfSorting #dropdown-item-button {
  font-size: 10px;
  background-color: burlywood;
  border: none;
}
.container2 .sortButton {
  flex: 1;
  text-align: center;
}
.container2 .sortButton .btn {
  font-size: 13px;
}
