.container-fluid .row .heading {
  color: antiquewhite;
  font-size: 6em;
  margin-top: 4vh;
  font-family: "Roboto", sans-serif;
  letter-spacing: 3px;
  font-weight: 300;
  text-decoration-line: underline;
}

.container-plate {
  height: 60vh;
  width: 80%;
  margin-top: 3.5%;
  display: flex;
}

.container1 {
  flex: 2;
  background-color: #f7b42c;
  background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);
  height: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  display: flex;
  justify-content: center;
  padding: 10px;
  padding-top: 0px;
  padding-right: 15px;

  /* flex-direction: row-reverse; */
}
.container2 {
  flex: 1;
  background-color: #463657;
  background-image: linear-gradient(315deg, #53475f 0%, #5f6dac 74%);
  display: flex;
  height: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  flex-direction: column;
  padding: 40px;
  justify-content: center;
}

.container-bst-plate {
  /* height: 60vh;
  width: 80%;
  position: fixed;
  top: 25%;
  left: 12%; */
  height: 60vh;
  width: 1225px;
  margin-top: 3.5%;
  display: flex;
  /*temporary*/
  position: fixed;
  top: 15%;
  left: 10%;
}

.container-plate1 {
  background-color: #f7b42c;
  background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%);
  height: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 10px;
  padding-top: 0px;
  padding-right: 15px;
  flex: 2;
  display: flex;
  flex-direction: column;
}

.container-plate2 {
  background-color: #463657;
  background-image: linear-gradient(315deg, #53475f 0%, #5f6dac 74%);
  height: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 40px;
  flex: 1;
}

.container2 .slider {
  flex: 2;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 50px;
}
.container2 .slider .sliderTitle {
  font-size: 20px;
  color: azure;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.container2 .slider .slide {
  padding-top: 30px;
}

.container2 .dropDowns {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: -45px;
}

.container2 .dropDowns .sortingTechnique #dropdown-basic {
  flex: 1;
  font-size: 20px;
  background-color: cadetblue;
  border: none;
  font-weight: 300;
}

.container2 .dropDowns .speedOfSorting #dropdown-basic {
  flex: 1;
  font-size: 20px;
  background-color: burlywood;
  border: none;
  margin-left: 10px;
  font-weight: 300;
}
.container2 .sortButton {
  flex: 1;
  text-align: center;
}
.container2 .sortButton .btn {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.githubLink {
  color: #5f6dac;
  float: center;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
}
a:hover {
  text-decoration: none;
  color: aliceblue;
}

.Node {
  width: 50px;
  height: 50px;
  background-color: red;
  border-radius: 100%;
  margin-top: 40px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  color: aliceblue;
  padding-top: 2px;
  padding-right: 2px;
}

.depth1 {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: -30px;
}

.depth2 {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: -10px;
}
.root {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 35px;
}
